.highslide {
        cursor: url(http://www.TrendyRag.com/highslide/graphics/zoomin.cur), pointer;
        outline: none;
}
.highslide img {
/*	border: 1px solid gray; */
}
.highslide:hover img {
/*	border: 1px solid white; */
}

.highslide-image {
    border: 2px solid white;
}
.highslide-image-blur {
}
.highslide-caption {
    display: none;
    border: 2px solid white;
    border-top: none;
    font-family: Verdana, Helvetica;
    font-size: 10pt;
    padding: 5px;
    background-color: white;
}
.highslide-loading {
        display: block;
	color: white;
	font-size: 9px;
	font-weight: bold;
	text-transform: uppercase;
        text-decoration: none;
	padding: 3px;
	border-top: 1px solid white;
	border-bottom: 1px solid white;
        background-color: black;
}

.highslide-move {
        cursor: move;
}

.highslide-overlay {
	display: none;
}

/* Controlbar example */
.controlbar {	
	background: url(http://www.TrendyRag.com/highslide/graphics/controlbar4.gif); 
	width: 36px;
	height: 34px;
	margin-top: 0px;
}
.controlbar a {	
	display: block;
	float: left;
	/*margin: 0px 0 0 4px;*/	
	height: 27px;
}
.controlbar a:hover {
	background-image: url(http://www.TrendyRag.com/highslide/graphics/controlbar4-hover.gif); 
}

.controlbar .close {
	width: 36px;
}

/* Necessary for functionality */
.highslide-display-block {
    display: block;
}
.highslide-display-none {
    display: none;
}
