/*/////
// Table Structure
////*/


/*
********* Customer Section Styles ************
*/
.copyright
{
	font-family: Helvetica, Arial;
	font-size: 9px;
	color: #A7A9A7;
	font-weight : 500;
	text-decoration: none;
}
.copyrightLink
{
	font-size: 9px;
	color: #F79027;
	font-weight: bolder;
	font-family:Helvetica, Arial;
	text-decoration: none;
}
.comingSoon_DesignerHdr
{
	color: #333333;
	font-family: Helvetica,	Arial;
	font-size: 9pt;
	line-height: 10pt;
	font-weight	: bold;
}

.comingSoon_DesignerText
{
	color: #666666;
	font-family: Helvetica, Arial;
	font-size: 11px;
	line-height: 17px;
}

.comingSoon_DesignerText_old
{
	color: #8f8f8f;
	font-family: Helvetica, Arial;
	font-size: 11px;
	line-height: 17px;
}

.giftcertheader
{
	COLOR: #FD7E07;
	font-family: Helvetica,	Arial;
	LINE-HEIGHT: 20px;
	FONT-SIZE: 16px;
	FONT-WEIGHT: bold;
}

.giftcerttext
{
	COLOR: #666666;
	font-family: Helvetica,	Arial;
	LINE-HEIGHT: 16px;
	FONT-SIZE: 11px;
}

.giftcerttable
{
	BACKGROUND-COLOR: #bbbbbb;
}

.giftcerttableheader
{
	COLOR: #FFFFFF;
	LINE-HEIGHT: 20px;
	FONT-SIZE: 12px;
	FONT-WEIGHT: bold;
}

.giftcerttablerow
{
	COLOR: #FFFFFF;
	LINE-HEIGHT: 20px;
	FONT-SIZE: 11px;
	FONT-WEIGHT: normal;
}

table.orderHistoryTable {
	background-color : #A7A9A7;
	color: #FFFFFF;
	font-weight: normal;
	font-family:Helvetica, Arial;
	font-size: 9pt;
}

.subSectionHeader{
	font-size: 8pt;
	color: #F79027;
	font-weight: bolder;
	font-family:Helvetica, Arial;
	text-decoration: none;

}

.emailFriendLabel {
	font-size: 9pt;
	color: #A7A9A7;
	font-weight: normal;
	font-family:Helvetica, Arial;
	text-decoration: none;
}

.searchInput {
	font-family: Helvetica, Arial;
	font-size: 7pt;
	color: #000000;
	font-weight : normal;
	height: 16px;
	width: 145px;
}

.searchInputSmall {
	font-family: Helvetica, Arial;
	font-size: 7pt;
	color: #000000;
	font-weight : normal;
	height: 16px;
	width: 125px;
	vertical-align: middle;
}

.searchInputImage {
	font-family: Helvetica, Arial;
	font-size: 7pt;
	color: #000000;
	font-weight : normal;
	vertical-align: bottom;
}

.custServiceText {
	font-family: Helvetica, Arial;
	font-size: 11px;
	color:#666666;
	text-decoration: underline;
}

.custServiceTextNo {
	font-family: Helvetica, Arial;
	font-size: 11px;
	color:#999999;
	text-decoration: none;
}
.redText{
	font-family:  Helvetica, Arial;
	font-size: 11px;
	color: red;
	line-height: 14px;
}
.checkOutPathActive{
	font-family: Helvetica, Arial;
	font-size: 13px;
	color: #FD7E07;
	line-height: 17px;
	font-weight:bold;
	text-decoration: none;
}
.checkOutPathInactive{
	font-family: Helvetica, Arial;
	font-size: 13px;
	color: #999999;
	line-height: 17px;
	font-weight:bold;
	text-decoration: none;
}
.popupGreyTextLink {
	font-family:  Helvetica, Arial;
	font-size: 11px;
	color: #999999;
	line-height: 14px;
	text-decoration: underline;
}
.otherColors{
	font-size: 10px;
	color: #F79027;
	font-weight: lighter;
	font-style: italic;
	font-family: Helvetica, Arial;
	line-height: 19px;
	text-decoration: none;
}

.otherColorsNoItalic{
	font-size: 10px;
	color: #F79027;
	font-weight: lighter;
	font-family: Helvetica, Arial;
	line-height: 19px;
	text-decoration: none;
}
.prodBrand{
	font-size: 10px;
	color: #999999;
	font-weight: lighter;
	line-height:8px;
	font-family:Helvetica, Arial;
}
.prodShort{
	font-size: 10px;
	color: #696969;
	font-weight: bolder;
	line-height:8px;
	font-family:Helvetica, Arial;
}
.prodColor{
	font-size: 10px;
	color: #999999;
	font-weight: lighter;
	font-style: italic;
	line-height:8px;
	font-family:Helvetica, Arial;
	text-decoration:none;
}
.prodPrice{
	font-size: 10px;
	color: #696969;
	font-weight: bolder;
	line-height:8px;
	font-family:Helvetica, Arial;
}
.selectTag{
	font-size: 9px;
	color: #333333;
	font-weight: bold;
	font-family:Helvetica, Arial;
}

.selectTagSizeColor{
	font-size: 9px;
	color: #333333;
	font-weight: bold;
	font-family:Helvetica, Arial;
	width: 100px;
}

.selectTagShopBySize{
        font-size: 9px;
        color: #333333;
        font-weight: bold;
        font-family:Helvetica, Arial;
        width: 102px;
} 

.sectionHeader{
	font-size: 9pt;
	color: #F79027;
	font-weight: bolder;
	font-family:Helvetica, Arial;
	text-decoration: none;

}

.sectionHeaderLink{
	font-size: 9pt;
	color: #F79027;
	font-weight: bold;
	font-family:Helvetica, Arial;
	text-decoration: underline;
}


.sectionText{
	font-family: Helvetica, Arial;
	font-size: 8pt;
	color: #666666;
	line-height: 10pt;
	font-weight : 500;
}

.noPageFound{
	font-family: Helvetica, Arial;
	font-size: 12pt;
	color: #A7A9A7;
	line-height: 14pt;
	font-weight : 500;
}
.orangeLink{
	font-family: Helvetica, Arial;
	font-size: 8pt;
	color: #F79027;
	line-height: 10pt;
	font-weight : 500;
}

.accInfoSectionText{
	font-family: Helvetica, Arial;
	font-size: 8pt;
	color: #666666;
	line-height: 12pt;
	font-weight : 500;
}
.customerTableHeader{
	font-family: Helvetica, Arial;
	font-size: 8pt;
	color: #333333;
	line-height: 10pt;
	font-weight : bold;
}
.defaultMarkerText{
	font-family: Helvetica, Arial;
	font-size: 8pt;
	color: #F79027;
	line-height: 10pt;
	font-weight : 500;
}
.accountHomeLink {
	font-size: 8pt;
	color: #F79027;
	font-weight: bold;
	font-family:Helvetica, Arial;
	text-decoration: underline;
}

td.separatorLine {
	background-color: #808080
}
.requiredFieldMsg{
	font-family: Helvetica, Arial;
	font-size: 10px;
	color: #FD7E07;
	font-weight : bold;

}

.addressFieldLabel{
	font-family : Helvetica, Arial;
	font-size : 11px;
	font-style : normal;
	font-weight : normal;
	color : #666666;
	line-height: 14px;
}
.addressFieldInput{
	font-family : Helvetica, Arial;
	font-size: 11px;
	width:230px;
	background-color : White;
}

.checkoutPriceDisplay{
	font-family : Helvetica, Arial;
	color : #666666;
	font-size: 8pt;
}

.stateInput{
	font-family : Helvetica, Arial;
	font-size: 11px;
	width:130px;
	background-color : White;
}
.provinceInput{
	font-family : Helvetica, Arial;
	font-size: 11px;
	width:85px;
	background-color : White;
}
.accountEditInput {
	font-family : Helvetica, Arial;
	font-size: 11px;
	width:230px;
}
input.bopCheckBox {

}

tr.topNavigation {
	background-color : #FD7E07;
}

td.topNavigation2 {
	background-color : #aaaaaa;
}

.prodBrowseMOBrand{
	font-family: Helvetica,	Arial;
	font-size: 9pt;
	color: #333333;
	line-height: 10pt;
	font-weight	: bold;
}

.prodBrowseMODesc{
	font-family: Helvetica,	Arial;
	font-size: 9pt;
	color: #666666;
	line-height: 10pt;
	font-weight	: normal;
	font-style : italic;
}

.prodBrowseMOPrice{
	font-family: Helvetica,	Arial;
	font-size: 9pt;
	color: #666666;
	line-height: 10pt;
	font-weight	: normal;
}

.prodBrowseDesc{
	font-family: Helvetica, Arial;
	font-size: 9px;
	color: #666666;
	font-weight : normal;
	text-decoration: none;
}

.prodBrowseBrand{
	font-family: Helvetica, Arial;
	font-size: 9px;
	color: #333333;
	font-weight : normal;
	text-decoration: none;
}
.prodBrowseBrandNew{
	font-family: Helvetica, Arial;
	font-size: 15px;
	font-weight: bold;
	color: #A0A0A0;
	text-decoration: none;
	white-space:nowrap;
	valign:bottom;
	margin-bottom: 0px;
    padding-bottom: 0px;
}
.crossSellText{
	font-family: Helvetica, Arial;
	font-size: 7pt;
	color: #A7A9A7;
	font-weight : normal;
}

.promoEmailSignup {
	font-family: Helvetica, Arial;
	font-size: 7pt;
	color: #000000;
	font-weight : normal;
	height: 16px;
}

/*
**************************************************************************
*/


/* Left Nav Styles */

td.leftNavCell{
	height: 16px;
	line-height: 14px;
}

.level2 {
	background: transparent;
	color: White;
	font-size: 8pt;
	font-family: Helvetica, Arial;
	font-weight: normal;
	text-decoration: none;
}
.level2Selected {
	background: transparent;
	color: #FDD90C;
	font-family: Helvetica, Arial;
	font-weight: bold;
	text-decoration: none;
	line-height: 14px;
}
.level3 {
	background: transparent;
	color: White;
	font-size: 8pt;
	font-family: Helvetica, Arial;
	font-weight: normal;
	text-decoration: none;
}
.level3Selected {
	background: transparent;
	color: #FDD90C;
	font-size: 8pt;
	font-family: Helvetica, Arial;
	font-weight: bold;
	text-decoration: none;
}
.level4 {
	background: transparent;
	color: White;
	font-size: 8pt;
	font-family: Helvetica, Arial;
	font-weight: normal;
	text-decoration: none;
}
.level4Selected {
	background: transparent;
	color: #FDD90C;
	font-size: 8pt;
	font-family: Helvetica, Arial;
	font-weight: bold;
	text-decoration: none;
}

.special1 {
	color: #FAAA4C;
}



.leftNavBold{
	background: transparent;
	color: White;
	font-size: 8pt;
	font-family: Helvetica, Arial;
	font-weight: normal;
	text-decoration: none;
}

.leftNavSubfolder {
	background: transparent;
	color: #FDD90C;
	font-size: 8pt;
	font-family: Helvetica, Arial;
	font-weight: normal;
	text-decoration: none;
}

.leftNavOn {
	background: transparent;
	color: #FDD90C;
	font-size: 8pt;
	font-family: Helvetica, Arial;
	font-weight: bold;
	text-decoration: none;
	letter-spacing : normal;
	font-style : italic;
}

.DesignerBioLink {
	background: transparent;
	color: #FAAA4C;
	font-size: 8pt;
	font-family: Helvetica, Arial;
	font-weight: normal;
	text-decoration: none;
	letter-spacing : normal;
	font-style : normal;
}

.leftNavOnBold {
	background: transparent;
	color: #FFFFFF;
	font-size: 8pt;
	font-family: Helvetica, Arial;
	font-weight: bold;
	text-decoration: none;
	letter-spacing : normal	;
	font-style: italic;
}

.shopBy {
	color: White;
	font-size: 12px;
	font-family: Helvetica, Arial;
	font-weight: bold;
	text-decoration: none;
}
.crossSellText{
	font-family: Helvetica, Arial;
	font-size: 9px;
	color: #999999;
	line-height: 14px;
	font-variant : normal;
	text-align : center;
	vertical-align : top;
}
.errorMsgHead {
	font-family: Helvetica, Arial;
	font-size: 11px;
	color: Red;
	font-weight: bolder;
}
.errorInvalidMarker {
	font-family: Helvetica, Arial;
	font-size: 15pt;
	color: Red;
	font-weight: bolder;
}
.errorMsg {
	font-family: Helvetica, Arial;
	font-size: 11px;
	color: Red;
	font-weight: normal;
}
.requiredFieldMarker {
	font-family: Helvetica, Arial;
	font-size: 10pt;
	color: Blue;
	font-weight: normal;
}
.medGrayLink {
	font-family:  Helvetica, Arial;
	font-size: 11px;
	color: #999999;
	line-height: 14px;
	text-decoration: none;
}
.medGrayLinkWithUnderline{
      font-family: Helvetica, Arial;
      font-size: 13px;
      color:#999999;
      line-height: 14px;
      text-decoration: underline;
}

.smGrayText {
	font-family: Helvetica, Arial;
	font-size: 8pt;
	color: #666666;
	line-height: 14px;
	font-weight : normal;
}
.addToCartIconText {
	font-family: Helvetica, Arial;
	font-size: 7pt;
	color: #A7A9A7;
	font-weight : bold;
	line-height: 8pt;
}

td.addToCartCell {
	height: 10pt;
}

.smGrayTextBold {
	font-family: Helvetica, Arial;
	font-size: 10px;
	color: #999999;
	line-height: 14px;
	font-weight : bold;
}
.medGrayText{
	font-family: Helvetica, Arial;
	font-size: 11px;
	color:#666666;
	line-height: 17px;
}
.lgGrayTextBold{
	font-family: Helvetica, Arial;
	font-size: 12px;
	color: #333333;
	line-height: 14px;
	font-weight:bold;
}
.medGrayTextBold {
	font-family: Helvetica, Arial;
	font-size: 11px;
	font-weight: bold;color: #666666;
}
.pulldown {
	background: #FFFFFF;
	border: #FD7E07;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px
}
.medGrayLink2 {
	font-family: Helvetica, Arial;
	font-size: 13px;
	color:#999999;
	line-height: 14px;
	text-decoration: none
}
.medGrayNoLead {
	font-family:Helvetica, Arial;
	font-size: 11px;
	color: #999999;
	text-decoration: none;
	line-height: 14px
}
.medOrange {
	font-family:Helvetica, Arial;
	font-size: 11px;
	color: #FD7E07;
	text-decoration: none;
	line-height: 17px;
}
.medPurple {
	font-family:Helvetica, Arial;
	font-size: 11px;
	color: #651548;
	text-decoration: none;
	line-height: 17px;
}
.smWhiteText {
	font-size: 10px;
	color: #ffffff;
	font-family: Helvetica, Arial;
	font-weight: bold;
	text-decoration:none;
}
.lgWhiteText {
	font-size: 12px;
	color: #ffffff;
	font-family: Helvetica,Arial;
	font-weight: bold;
	text-decoration:none;
}
.prodDetBrand{
	font-family:Helvetica, Arial;
	font-weight: normal;
	font-size:18px;
	color: #666666;
	padding-top: 3px;
	padding-bottom:	2px;
	text-decoration:none;
}
.prodDetLook{
	font-family:Helvetica, Arial;
	font-weight: normal;
	font-size:11px;
	color: #333333;
	text-decoration:none;
}
.prodDetStyle{
	font-family:Helvetica, Arial;
	font-weight: bold;
	font-size:11px;
	color: #333333;
	padding-bottom: 4px;
	text-decoration:none;
}

.prodDetCopy{
	font-family: Helvetica, Arial;
	font-weight: normal;
	font-size:11px;
	color: #666666;
	line-height: 14px;;
	text-decoration:none;
}

.prodDetSpecs{
	font-family:Helvetica, Arial;
	font-weight: normal;
	font-size:10px;
	color: #878787;
	line-height:8px;
	text-decoration:none;
}
.prodDetPrice{
	font-family:Helvetica, Arial;
	font-size:11px;
	color: #333333;
	text-align: left;
	text-decoration:none;
}
.new {
	FONT-SIZE: 10px;
	WIDTH:	90px;
	FONT-FAMILY: Arial, Helvetica, sans-serif;
	HEIGHT: 17px
}

.pageTitle {
	font-size:	20px;
	color: #999999;
	font-weight: normal;
	font-family:Helvetica, Arial, sans-serif;
}

.pageTitle2	{
	font-size: 25pt;
	color: #c8c8c8;
	font-weight:normal;
	font-family:Helvetica, Arial, sans-serif;
}

.swatchtext	{
	color: #000000;
	font-size: 9px;
}
.select {
	font-size: 11px;
}

.sizeColorSelect{
	font-size: 11px;
	width : 100px;
}


input {
	font-size: 11px;
	font-family: Helvetica, Arial;
}

input.login{
	width: 230px;
}

.emailAddressInput{
	font-size: 11px;
	font-family: Helvetica, Arial;
	width: 220px;
}


/*
   Styles for scrolling layers
	 Specify width and height in hold and wn, and in clip for wn
*/
div#swatchesOuter {
	position:relative; 
	overflow:hidden;
	width:70px;
	height:400px;
 	z-index:100;
	}
div#swatches {
	position:absolute;
	left:0px; 
	top:0px;
	width:70px;
	height:400px;
	clip:rect(0px, 70px, 400px, 0px);
	overflow:hidden;
	z-index:1;
	}

div#hold	{
	position:relative; 
	overflow:hidden;
	width:163px;
	height:447px;
 	z-index:100;
	}
div#holdLook	{
	position:relative; 
	overflow:hidden;
	top:4px;
	bottom:4px;
	width:740px;
	height:42px;
	vertical-align:middle;
	z-index:100;
}

div#wn	{
	position:absolute;
	left:0px; 
	top:0px;
	width:163px;
	height:447px;
	clip:rect(0px, 163px, 447px, 0px);
	overflow:hidden;
	z-index:1;
}
div#wnLook	{
	position:absolute;
	left:0px; top:0px;
	width:745px;
	height:35px;
	clip:rect(0px, 780px, 35Px, 0px);
	overflow:hidden;
	z-index:1;
}
div.content {
	position:absolute;
	visibility:hidden;
	left:0px; top:0px;
	z-index:1;
	}
div.contentLook {
	position:absolute;
	visibility:hidden;
	left:0px;
	top:0px;
	z-index:1;
}
/* Set small font-size or size/position of div's will be off in some browsers  */
div#scrollbar {
  position:relative; left:0; top:0;
  width:11px; height:160px;
  font-size:1px; z-index:1;
  }
div#track {
  position:absolute; left:0; top:12px;
  width:11px; height:136px;
  background: url("~/images/nav/track.gif") #336 repeat;
  z-index:1;
  }
div#dragBar {
  position:absolute; left:1px; top:1px;
  width:9px; height:20px;
  background-color:#ceced6;
  z-index:1;
  }
div#up { position:relative; left:0; top:0; z-index:2 }
div#down { position:relative; left:0; bottom:0; z-index:3 }
div#left { position:relative; left:0; top:2px; z-index:2 }
div#right { position:relative; left:0; top:2px; z-index:3 }
/* Styles for demo, not necessary for scrolling layers */
body  {
	text-align:center
}
th {
	font-size:1.4em;
	text-align:left
}
a img {
	border:none
}
p {
	margin:	0 0	.6em 0
}
h2 {
	font-size:1.2em;
	margin:0 0 .6em 0
}
h3 {
	font-size:1.1em;
	margin:0 0 .6em 0
}
div.content	{
	text-align:left
}
table.main {
  background-color:#eee;
  width:440px;
  margin:auto;
  text-align:left;
  border:1px solid #999;
  }
table.main td.text, table.main td.navs { vertical-align:top; text-align:left }
td#scrollLinks  { width:12px }
td.navs ul { margin:0; padding:0; list-style:none }
td.navs ul li { margin:0 0 .6em .4em }
td.navs ul li a { text-decoration:none }
td.navs ul li a:hover { text-decoration:underline }

.wishcopy
{
	COLOR: #666666;
	LINE-HEIGHT: 16px;
	FONT-SIZE: 8pt;
	font-family : Helvetica, Arial;
}

.wishlabel
{
	COLOR: #666666;
	LINE-HEIGHT: 16px;
	font-family : Helvetica, Arial;
	font-size:11px;
}

.wishboldcopy
{
	COLOR: #333333;
	LINE-HEIGHT: 16px;
	FONT-WEIGHT: bold;
	font-family : Helvetica, Arial;
	FONT-SIZE: 8pt;
}

.wishblackcopy
{
	COLOR: #000000;
	LINE-HEIGHT: 16px;
	FONT-SIZE: 8pt;
	font-family : Helvetica, Arial;
}

.wishorangecopy
{
	COLOR: #F79027;
	LINE-HEIGHT: 16px;
	FONT-SIZE: 8pt;
	TEXT-DECORATION: none;
	font-family : Helvetica, Arial;
}

.giftgraytext
{
	COLOR: #a9a9a9;
	LINE-HEIGHT: 16px;
	FONT-SIZE: 8pt;
	font-family : Helvetica, Arial;
}
div.leftNavHandle {
	background-color:#FD7E07;
}
.moreColorsAvailableText {
	font-weight: bold; 
	font-family: Helvetica, Arial; 
	font-size: 9px; 
	color: #FAAA4C;
}
