/* CSS Document */
body
{
        margin: 0px;
        background-image: url( '../images/fond.jpg' );
        font-family: Arial, Helvetica, sans-serif;
        color: #FFFFFF;
        font-size: 11px;
        line-height: 14px;
        text-align: left;
}

a:link
{
        font-size: 11px;
        text-decoration: none;
        color: #FFFFFF;
}
a:visited
{
        font-size: 11px;
        text-decoration: none;
        color: #FFFFFF;
}
a:active
{
        font-size: 11px;
        text-decoration: none;
        color: #FFFFFF;
}
a:hover
{
        font-size: 11px;
        text-decoration: underline;
        color: #33AACC;
}

a.nav:link
{
        font-size: 10px;
        text-decoration: none;
        color: #FFFFFF;
        padding-left: 25PX;
}
a.nav:visited
{
        font-size: 10px;
        text-decoration: none;
        color: #FFFFFF;
        padding-left: 25PX;
}
a.nav:active
{
        font-size: 10px;
        text-decoration: none;
        color: #FFFFFF;
        padding-left: 25PX;
}
a.nav:hover
{
        font-size: 10px;
        text-decoration: none;
        color: #FFFFFF;
        padding-left: 25PX;
}

.HEADING
{
        cursor: hand;
        font-size: 11px;
        color: #FFFFFF;
        letter-spacing: -1PX;
        background-image: url(../images/home_trendyreag_leftcate_01.gif);
        font-weight: bold;
        border: 0 solid #000000;
        width: 176px;
        height: 35px;
}

.LINKSOFF
{
        display: none;
        font-size: 11px;
        color: #FFFFFF;
        font-weight: normal;
        font-family: Arial, Helvetica, sans-serif;
}
.LINKSON
{
        display: inline;
        font-size: 11px;
        color: #FFFFFF;
        font-weight: bold;
        font-family: Arial, Helvetica, sans-serif;
        height: 470px;
        overflow: auto;
        width: 176px;
}
.LINKON_headtext
{
        color: #FFFFFF;
        padding-left: 25px;
        font-weight: bold;
        font-size: 11px;
}
.LINKOFF_headtext
{
        color: #FFFFFF;
        padding-left: 25px;
        font-weight: normal;
        font-size: 11px;
}


.Wrap_whole
{
        width: 990px;
}

.Wrap_vtop
{
        width: 990px;
        height: 70px;
        vertical-align: middle;
}

.Wrap_Leftnavigation
{
        width: 176PX;
        float: left;
        clear: right;
        border: #597886 solid 1px;
}

.Header_Navigation
{
        width: 812px;
}

.Header_right
{
        background-image: url(../images/header_navigation_off_06.gif);
        width: 189px;
        height: 20px;
        font-weight: bold;
        font-size: 12px;
        padding-top: 14px;
}

.Wrap_content
{
        width: 812px;
}

.Wrap_open
{
        background-position: left-top;
        background-image: url(../images/home_trendyreag_leftcate_03.gif);
        background-repeat: repeat-x;
        line-height: 24PX;
        background-color: #3e484b;
        font-size: 10px;
}

.Right_banner
{
        border-left: #597886 solid 1px;
        border-right: #597886 solid 1px;
        border-bottom: #597886 solid 1px;
        width: 188PX;
}

.Right_banner01
{
        border-top: #597886 solid 1px;
        border-left: #597886 solid 1px;
        border-right: #597886 solid 1px;
        width: 188PX;
}

.Right_banner02
{
        border-left: #597886 solid 1px;
        border-right: #597886 solid 1px;
        width: 188PX;
}

.Right_banner03
{
        border-left: #597886 solid 1px;
        border-right: #597886 solid 1px;
        width: 188PX;
}

.Right_banner04
{
        border-left: #597886 solid 1px;
        border-right: #597886 solid 1px;
        border-bottom: #597886 solid 1px;
        width: 188PX;
}

.Wrap_footer
{
        width: 978px;
        border: #597886 solid 1px;
        text-align: right;
        font-size: 10px;
        line-height: 20px;
        padding-right: 10px;
}

.Wrap_footerbanner
{
        width: 988px;
        border-top: solid 1px #597886;
        border-right: solid 1px #597886;
        border-left: solid 1px #597886;
        background-color: #000000;
        height: 24px;
        text-align: right;
}

.Wrap_LeftMenu_StaticHTML
{
        border-top: #597886 solid 1px;
        border-left: #597886 solid 1px;
        border-right: #597886 solid 1px;
        border-bottom: #597886 solid 1px;
}
